@using CMDB.Domain.DTOs
@model AssetCategoryDTO;
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["DeleteAccess"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
                <th>@Html.DisplayNameFor(model => model.Prefix)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="Category">@Html.DisplayFor(model => model.Category)</td>
                <td id="Prefix">@Html.DisplayFor(model => model.Prefix)</td>
                <td id="State">@Html.DisplayFor(model => model.State)</td>
            </tr>
        </tbody>
    </table>
    <partial name="_deleteForm" />
}
else
{
    <p>You do not access to this page</p>
}