@using CMDB.Domain.DTOs
@model KensingtonDTO
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["DeleteAccess"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Type)</th>
                <th>@Html.DisplayNameFor(m => m.AmountOfKeys)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="SerialNumber">@Html.DisplayFor(model => model.SerialNumber)</td>
                <td id="AssetType">@Html.DisplayFor(model => model.Type.Vendor) @Html.DisplayFor(model => model.Type.Type)</td>
                <td id="AssetType">@Html.DisplayFor(model => model.AmountOfKeys)</td>
            </tr>
        </tbody>
    </table>
    <partial name="_deleteForm" />
}
else
{
    <p>You do not access to this page</p>
}