{
    @ViewData["BackIcon"] = <i class="fa fa-arrow-left"></i>;
    @ViewData["NewIcon"] = "<span class=\"fas fa-plus\"></span>";
    @ViewData["EditIcon"] = "<span class=\"fa fa-pencil\"></span>";
    @ViewData["DeactivateIcon"] = "<span class=\"fas fa-trash-alt\"></span>";
    @ViewData["ActivateIcon"] = "<span class=\"fas fa-plus-circle\"></span>";
    @ViewData["AddIdentityIcon"] = "<span class=\"fa fa-user-plus\"></span>";
    @ViewData["AddDeviceIcon"] = "<span class=\"fa fa-laptop\"></span>";
    @ViewData["InfoIcon"] = "<span class=\"fa fa-info\"></span>";
    @ViewData["ReleaseIdenIcon"] = "<span class=\"fa fa-user-minus\"></span>";
    @ViewData["MobileIcon"] = "<span class=\"fas fa-mobile-alt\"></span>";
    @ViewData["SubscriptionIcon"] = "<span class=\"fas fa-file-invoice-dollar\"></span>";
}