@model CMDB.API.Models.MobileDTO;
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["InfoAccess"])
{
    <h2>@ViewData["Title"] <a class="btn btn-default float-right" asp-area="" asp-controller="Mobile" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a></h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IMEI)</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="AssetTag">@Html.DisplayFor(model => model.IMEI)</td>
                <td id="AssetType">@Html.DisplayFor(model => model.MobileType.Vendor) @Html.DisplayFor(model => model.MobileType.Type)</td>
            </tr>
        </tbody>
    </table>
    <partial name="_AddNew" />
    @if ((bool)ViewData["IdentityOverview"])
    {
        <H3>Identity overview</H3>
        @if (Model.Identity is not null)
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>UserID</td>
                        @if ((bool)ViewData["ReleaseIdentity"] && Model.Identity.IdenId > 1)
                        {
                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="small">@Model.Identity.Name</td>
                        <td class="small">@Model.Identity.UserID</td>
                        @if ((bool)ViewData["ReleaseIdentity"] && Model.Identity.IdenId > 1)
                        {
                            <td><a class="btn btn-danger" asp-action="ReleaseIdentity" asp-route-id="@Model.MobileId" asp-route-idenid="@Model.Identity.IdenId" id="ReleaseIdentity" data-toggle="tooltip" data-placement="top" title="Release Identity"><span class="@ViewBag.ReleaseIdenIcon"></span></a></td>
                        }
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <p>No identities assigned to this Mobile</p>
        }
    }
    @if ((bool)ViewData["SubscriptionOverview"])
    {
        <H3>Subscription overview</H3>
        @if (Model.Subscriptions.Count >0)
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Phonenumber</td>
                        @if ((bool)ViewData["ReleaseSubscription"])
                        {
                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Subscriptions)
                    {
                        <tr>
                            <td class="small">@item.SubscriptionType</td>
                            <td class="small">@item.PhoneNumber</td>
                            @if ((bool)ViewData["ReleaseSubscription"])
                            {
                                <td><a class="btn btn-danger" asp-action="ReleaseSubscription" asp-route-id="@Model.MobileId" asp-route-subid="@item.SubscriptionId" id="ReleaseSubscription" data-toggle="tooltip" data-placement="top" title="Release Subscription"><span class="@ViewBag.ReleaseIdenIcon"></span></a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    <H3>Log overview</H3>
    @if (Model.Logs.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CMDB.API.Models.LogDTO log in Model.Logs)
                {
                    <tr>
                        <td>@log.LogDate.ToString(ViewData["LogDateFormat"].ToString())</td>
                        <td>@(new Microsoft.AspNetCore.Html.HtmlString(log.LogText))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs for to this Mobile</p>
    }
}
else
{
    <p>You do not access to this page</p>
}