@using CMDB.Domain.DTOs
@model AssetTypeDTO;
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["InfoAccess"])
{
    <h2>@ViewData["Title"] <a class="btn btn-default float-right" asp-area="" asp-controller="AssetType" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a></h2>
    <input type="hidden" name="id" value="@Html.DisplayFor(model => model.TypeID)" />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AssetCategory)</th>
                <th>@Html.DisplayNameFor(model => model.Vendor)</th>
                <th>@Html.DisplayNameFor(model => model.Type)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
                <th class="d-none">@Html.DisplayNameFor(model => model.TypeID)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="Category">@Html.DisplayFor(model => model.AssetCategory.Category)</td>
                <td id="Vendor">@Html.DisplayFor(model => model.Vendor)</td>
                <td id="Type">@Html.DisplayFor(model => model.Type)</td>
                <td id="Active">@Html.DisplayFor(model => model.State)</td>
                <td id="Id" class="d-none">@Html.DisplayFor(model => model.TypeID)</td>
            </tr>
        </tbody>
    </table>
    <partial name="_AddNew" />
    <H3>Log overview</H3>
    @if (Model.Logs.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LogDTO log in Model.Logs)
                {
                    <tr>
                        <td>@log.LogDate.ToString(ViewData["LogDateFormat"].ToString())</td>
                        <td>@(new Microsoft.AspNetCore.Html.HtmlString(log.LogText))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs for to this asset type</p>
    }
}
else
{
    <p>You do not access to this page</p>
}