@model CMDB.Domain.Entities.IdenAccount;
@{
    Layout = "_Layout";
    CMDB.Domain.Entities.Identity identity = (CMDB.Domain.Entities.Identity)ViewBag.Identity;
}
@if ((bool)ViewData["AssignAccount"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>UserID</th>
                <th>E Mail</th>
                <th>Language</th>
                <th>Type</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="Name">@identity.Name</td>
                <td id="UserId">@identity.UserID</td>
                <td id="EMail">@identity.EMail</td>
                <td id="Language">@identity.Language.Description</td>
                <td id="Type">@identity.Type.Description</td>
                <td id="State">@identity.Active</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <form role="form" class="form-horizontal" asp-action="AssignAccount" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Account">Account</label>
            @Html.DropDownListFor(Model => Model.Account, (IEnumerable<SelectListItem>)ViewBag.Accounts, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Account" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidFrom" class="control-label"></label>
            <input asp-for="ValidFrom" class="form-control">
            <span asp-validation-for="ValidFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidUntil" class="control-label"></label>
            <input asp-for="ValidUntil" formnovalidate="formnovalidate" class="form-control" />
            <span asp-validation-for="ValidUntil" class="text-danger"></span>
        </div>
        <input type="hidden" name="form-submitted" value="1" />
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Assign</button>
            <a class="btn" asp-area="" asp-controller="Identity" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a>
        </div>
    </form>
}
else
{
    <p>You do not access to this page</p>
}
