@model IEnumerable<CMDB.Models.Identity>
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["DeleteAccess"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>UserID</th>
                <th>E Mail</th>
                <th>Language</th>
                <th>Type</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayTextFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.UserID)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.EMail)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.Language)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.Type.Description)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.Active)</td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_deleteForm" />
}
else
{
    <p>You do not access to this page</p>
}