@using CMDB.Domain.DTOs
@model SubscriptionDTO
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["AssignIdentity"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Type</th>
                <th>Phone number</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="SubscriptionType">@Html.DisplayTextFor(model => model.SubscriptionType)</td>
                <td id="Phone">@Html.DisplayTextFor(model => model.PhoneNumber)</td>
                <td id="Active">@Html.DisplayTextFor(model => model.State)</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <form class ="form-horizontal" action="@ViewData["Controller"]" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Identity <span style="color:red;">*</span></label>
            @Html.DropDownListFor(Model => Model.Identity, (IEnumerable<SelectListItem>)ViewBag.Identities, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Identity" data-valmsg-replace="true"></span>
        </div>
        <input type="hidden" name="form-submitted" value="1" />
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Assign</button>
            <a class="btn" asp-area="" asp-controller="@ViewData["backUrl"]" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a>
        </div>
    </form>
}
else
{
    <p>You do not access to this page</p>
}