@model CMDB.API.Models.IdenAccountDTO;
@{
    CMDB.API.Models.AccountDTO account = (CMDB.API.Models.AccountDTO)ViewBag.Account;
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>
@if ((bool)ViewData["AssignIdentity"])
{
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>UserID</th>
                <th>Type</th>
                <th>Application</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="UserId">@account.UserID</td>
                <td id="Type">@account.Type.Type</td>
                <td id="Application">@account.Application.Name</td>
                <td id="Active">@account.Active</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <form class="form-horizontal" action="@ViewData["Controller"]" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Identity">Identity</label>
            @Html.DropDownListFor(Model => Model.Identity, (IEnumerable<SelectListItem>)ViewBag.Identities, "Please select", new { @class = "form-control" })
            <span class="text-danger field-validation-valid" asp-validation-for="Identity" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidFrom" class="control-label"></label>
            <input asp-for="ValidFrom" class="form-control" />
            <span asp-validation-for="ValidFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidUntil" class="control-label"></label>
            <input asp-for="ValidUntil" formnovalidate="formnovalidate" class="form-control" />
            <span asp-validation-for="ValidUntil" class="text-danger"></span>
        </div>
        <input type="hidden" name="form-submitted" value="1" /><br>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Create</button>
            <a class="btn" asp-area="" asp-controller="Account" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a>
        </div>
        <div class="form-group">
            <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
        </div>
    </form>
}
else
{
    <p>You do not access to this page</p>
}