@model CMDB.API.Models.AccountDTO
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["DeleteAccess"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>UserID</th>
                <th>Type</th>
                <th>Application</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="UserId">@Html.DisplayTextFor(model => model.UserID)</td>
                <td id="Type">@Html.DisplayTextFor(modelItem => modelItem.Type.Type)</td>
                <td id="Application">@Html.DisplayTextFor(modelItem => modelItem.Application.Name)</td>
                <td id="State">@Html.DisplayTextFor(modelItem => modelItem.State)</td>
            </tr>
        </tbody>
    </table>
    <partial name="_deleteForm" />
}
else
{
    <p>You do not access to this page</p>
}
