@model IEnumerable<CMDB.Domain.Entities.Account>
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["InfoAccess"])
{
    <h2>@ViewData["Title"] <a class="btn btn-default float-right" asp-area="" asp-controller="Account" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a></h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>UserID</th>
                <th>Type</th>
                <th>Application</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayTextFor(modelItem => item.UserID)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.Type.Type)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.Application.Name)</td>
                    <td>@Html.DisplayTextFor(modelItem => item.Active)</td>
                </tr>
                <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.AccID)" />
            }
        </tbody>
    </table>
    <partial name="_AddNew" />
    @foreach (var item in Model)
    {
        @if ((bool)ViewData["IdentityOverview"])
        {
            <H3>Identity overview</H3>
            @if (item.Identities.Count > 0)
            {
                <table class="table table-striped table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>UserID</th>
                            <th>E Mail</th>
                            <th>Language</th>
                            <th>Type</th>
                            <th>From</th>
                            <th>Until</th>
                            @if ((bool)ViewData["ReleaseIdentity"] && item.AccID > 1)
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CMDB.Domain.Entities.IdenAccount idenAccount in item.Identities)
                        {
                            <tr>
                                <td class="small">@idenAccount.Identity.Name</td>
                                <td class="small">@idenAccount.Identity.UserID</td>
                                <td class="small">@idenAccount.Identity.EMail</td>
                                <td class="small">@idenAccount.Identity.Language.Description</td>
                                <td class="small">@idenAccount.Identity.Type.Type</td>
                                <td class="small">@idenAccount.ValidFrom.ToString(ViewData["DateFormat"].ToString())</td>
                                <td class="small">@idenAccount.ValidUntil.ToString(ViewData["DateFormat"].ToString())</td>
                                @if ((bool)ViewData["ReleaseIdentity"] && item.AccID > 1)
                                {
                                    @if (idenAccount.ValidUntil >= DateTime.Now && (DateTime.Now - idenAccount.ValidFrom).TotalDays >= 1)
                                    {
                                        <td class="small"><a class="btn btn-danger" asp-action="ReleaseIdentity" asp-route-id="@idenAccount.ID" id="ReleaseIdentity" data-toggle="tooltip" data-placement="top" title="Release Identity"><span class="@ViewBag.ReleaseIdenIcon"></span></a></td>
                                    }
                                    else
                                    {
                                        <td class="small"></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No Identities assigned to this Account</p>
            }
        }
        <H3>Log overview</H3>
        @if (item.Logs.Count > 0)
        {
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Text</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CMDB.Domain.Entities.Log log in item.Logs)
                    {
                        <tr>
                            <td>@log.LogDate.ToString(ViewData["LogDateFormat"].ToString())</td>
                            <td>@log.LogText</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No logs for to this Account</p>
        }
    }
}
else
{
    <p>You do not access to this page</p>
}
