@{
    Layout = "_Layout";
    CMDB.Domain.Entities.Identity identity = (CMDB.Domain.Entities.Identity)ViewBag.Identity;
    CMDB.Domain.Entities.Account account = (CMDB.Domain.Entities.Account)ViewBag.Account;
}
@if ((bool)ViewData["ReleaseIdentity"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>UserID</th>
                <th>Type</th>
                <th>Application</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="UserId">@account.UserID</td>
                <td id="Type">@account.Type.Type</td>
                <td id="Application">@account.Application.Name</td>
            </tr>
        </tbody>
    </table>
    <H3>Identity information that will be released</H3>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>UserID</th>
                <th>E Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="IdentityName">@identity.Name</td>
                <td id="IdentityUserId">@identity.UserID</td>
                <td id="IdentityEMail">@identity.EMail</td>
            </tr>
        </tbody>
    </table>
    <partial name="_SignForm" />
}
else
{
    <p>You do not access to this page</p>
}
