@using CMDB.Domain.DTOs
@model RolePermissionDTO
@{
    CMDB.Domain.Entities.Identity identity = (CMDB.Domain.Entities.Identity)ViewBag.Identity;
    Layout = "_Layout";
}
@if ((bool)ViewData["DeleteAccess"])
{
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Level)</th>
                <th>@Html.DisplayNameFor(model => model.Menu)</th>
                <th>@Html.DisplayNameFor(model => model.Permission.Right)</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td id="Level">@Html.DisplayFor(model => model.Level)</td>
                <td id="Menu">@Html.DisplayFor(model => model.Menu.Label)</td>
                <td id="Permission">@Html.DisplayFor(model => model.Permission.Right)</td>
            </tr>
        </tbody>
    </table>
    <form class="form-horizontal" action="@ViewData["Controller"]" method="post">
        Are you sure you want to delete this Role Permission?<br />
        Please know that this action cannot be undone.<br />
        <input type="hidden" name="form-submitted" value="1" /><br>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Delete</button>
            <a class="btn" asp-area="" asp-controller="@ViewData["backUrl"]" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a>
        </div>
    </form>
}
else
{
    <p>You do not access to this page</p>
}