@using CMDB.Domain.DTOs
@model AdminDTO;
@{
    Layout = "_Layout";
}
@if ((bool)ViewData["InfoAccess"])
{
    <h2>@ViewData["Title"] <a class="btn btn-default float-right" asp-area="" asp-controller="Admin" asp-action="Index"><i class="@ViewBag.BackIcon"></i> Back</a></h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Account.UserID)</th>
                <th>@Html.DisplayNameFor(model => model.Level)</th>
                <th>@Html.DisplayNameFor(model => model.Active)</th>
                <th class="d-none">@Html.DisplayNameFor(model => model.AdminId)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="UserID">@Html.DisplayFor(modelItem => modelItem.Account.UserID)</td>
                <td id="Level">@Html.DisplayFor(modelItem => modelItem.Level)</td>
                <td id="State">@Html.DisplayFor(modelItem => modelItem.Active)</td>
                <td class="d-none" id="Id">@Html.DisplayFor(modelItem => modelItem.AdminId)</td>
            </tr>
        </tbody>
    </table>
    <partial name="_AddNew" />
    <H3>Log overview</H3>
    @if (Model.Logs.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LogDTO log in Model.Logs)
                {
                    <tr>
                        <td>@log.LogDate.ToString(ViewData["LogDateFormat"].ToString())</td>
                        <td>@(new Microsoft.AspNetCore.Html.HtmlString(log.LogText))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No logs for to this Admin</p>
    }
}
else
{
    <p>You do not access to this page</p>
}

